include LICENSE
include CONTRIBUTORS
include CHANGES
include README.md
include tox.ini
include setup.cfg
include src/flask_caching/py.typed

graft docs
graft tests

prune docs/_build

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.sw[a-z]
