include LICENSE
include CONTRIBUTORS
include CHANGES
include README.md
include requirements.txt
include tox.ini
include setup.cfg

graft docs
graft tests

prune docs/_build

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.sw[a-z]
